*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0C213D;
    scroll-behavior: smooth;
}

.cards--float {
    background-color: #fff;
    font-size: 18px;
    text-align: justify;
    width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    z-index: 1000;
    box-shadow: 100px 100px 200px 200px #0c213d8a;;
}
.container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 100;
}
.container button{
    align-self: flex-end;
    margin-right: 25%;
    margin-bottom: 50px;
    font-size: 30px;
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
    padding: 10px;
    border: 0;
    font-weight: bold;
}
.container--header {
    background-image: url('./img/backgound\ header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 386px;
}

.nav--bar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav--bar ul {
    display: flex;
    gap: 20px;
}
.nav--bar ul li {
    list-style: none;
}
.nav--bar ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.sobre {
    padding: 30px 20px;
}
.style-titles {
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
}
.container--sobre h2 {
    color:#FFCC00;
}

.descricao{
    display: flex;
    align-items: center;
}
.descricao .container--image--descricao {
    flex: 1;
    padding: 0 10px;
    display: flex;
    justify-content: center;
}

.container--image--descricao .image--descricao {
    background-color: #fff;
    width: max-content;
    padding: 10px;
    border-radius: 15px;
}
.descricao .text--descricao {
    flex: 3;
}
.descricao .text--descricao p {
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    text-align: justify;
}

.habilidades {
    background-color: #FFCC00;
}
.container--habilidades {
    padding: 30px 20px;
    position:relative;
}
.container--habilidades h2 {
    color: #0C213D;
}

.box-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.images--habilidades {
    cursor:pointer;
    scale: .9;
    transition: 0.5s;
}
.images--habilidades:hover {
    scale: 1;
}

.cards-2 {
    margin-top: 30px;
}
.projetos {
    padding: 30px 20px;
}
.projetos h2 {
    color: #FFCC00;
}
.container--projetos {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.cards--projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.cards--projetos .tela {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
}

.cards--projetos .descricao--projeto {
    color: #4C63D2;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
.acessar a {
    text-decoration: none;
    background-color: #4C63D2;
    color: #FFCC00;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: bold;
    box-shadow: 0px 6px 6px 0px #111111;
}

footer {
    background-color: #FFCC00;
    padding: 40px 0;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

footer p {
    font-size: 18px;
    font-weight: bold;
    
}

.contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex: 1;
    border-right: solid 1px #0C213D;
}

.container--rede {
    display: flex;
    gap: 20px;
}

.rede {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.img--rede{
    width: 30px;
}

.img--rede img {
    width: 100%;
}

.agradecimento {
    display: flex;
    justify-content: center;
    flex: 2;
}

.agradecimento h2 {
    text-align: center;
}